@import url('https://fonts.googleapis.com/css2?family=Nobile&family=Noto+Sans+TC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  @apply bg-light dark:bg-primary;
  @apply font-nobile;
  @apply min-h-screen;
}

@layer utilities {
  .bg-grid-dark {
    background-image:
      linear-gradient(to right, rgba(10, 37, 62, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(10, 37, 62, 0.1) 1px, transparent 1px);
  }
  .bg-grid-light {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  }
}

/* markdown */
.react-markdown {
  @apply overflow-hidden break-words;
}
.react-markdown h1 {
  @apply my-6 text-3xl leading-tight text-gray-900 dark:text-white;
}
.react-markdown h2 {
  @apply my-4 text-2xl leading-tight text-gray-900 dark:text-white;
}
.react-markdown h3 {
  @apply my-4 text-xl leading-tight text-gray-900 dark:text-white;
}
.react-markdown h4 {
  @apply my-4 text-lg leading-tight text-gray-900 dark:text-white;
}

.react-markdown p {
  @apply leading-[1.5] text-base leading-tight text-gray-900 dark:text-white my-4;
  font-size: 1.1rem;
}

.react-markdown pre {
  @apply my-8 leading-tight text-gray-900 dark:text-white;
}

.react-markdown img {
  @apply my-3;
}

.react-markdown pre div {
  @apply rounded-[5px];
}

.react-markdown a {
  @apply my-3 text-xl text-teal-600 underline hover:text-teal-700;
}

